EXPO_TUNNEL_SUBDOMAIN=next-ui-demo
EXPO_PACKAGER_HOSTNAME=https://next-ui-demo.preview.emergentagent.com
EXPO_PUBLIC_BACKEND_URL=https://next-ui-demo.preview.emergentagent.com
EXPO_USE_FAST_RESOLVER="1"
METRO_CACHE_ROOT=/app/frontend/.metro-cache